/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');


/* Utilities */
* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

h1
{
  font-size: 100px;
  text-shadow: 7px 7px 7px #fb8500;
  padding: 20px;
  text-align: center;
}

.banner
{
  background-image: url(../images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  font-size: 40px;
}

li
{
  list-style: none;
  box-shadow: 1px 1px 1px 1px lightgrey ;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  padding: 5px 30px;
  background-color: #023047;
  text-align: center;
  align-self: center;
}

.btn-linkedin
{
  margin: 5px;
  text-decoration: none;
  list-style: none;
  color: #219ebc;
  font-weight: bold;
}

li:hover
{
  background-color: #ffb703;
  color: #023047;
}

main
{
  background-color: #023047;
  height: 800px;
}

h2
{
  color: white;
  font-weight: bold;
  font-size: 70px;
  width: 100%;
  text-align: center;
  padding: 30px;
}

.card-container
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.card-one, .card-two, .card-three
{
  background-color: #fb8500;
  height: 500px;
  width: 30%;
  margin: 1.7%;
  border-radius: 40px;
  box-shadow: 2px 2px 2px lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img
{
  height: 250px;
  width: 80%;
  margin: 15px 0;
}

h4
{
  margin: 15px;
  color: aliceblue;
}

p
{
  margin: 15px;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  align-self: center;
}

footer
{
  height: 100px;
  background-color:  #fb8500 ;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
